@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;


}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;



}

.text-left {
    text-align: left;

}


.font-italic {
    font-family: "Great Vibes", cursive;
}

.class-orange {
    color: #E6533C;
}

.color-black {
    background-color: #000000;
}

.color-bg1 {
    background-color: #E6533C;
}

.padding-botton {
    padding-bottom: 5%;
}

.class-btn {
    color: white;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;

    text-align: center;
    border-radius: 2.9rem;
    margin-top: 20px;
    padding: 20px;
    width: 12.5rem;


}

.class-flex {
    display: flex;

}

/* nav bar */
.container {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding-bottom: 20px;
}

.navbar {
    justify-content: space-between;
    margin: 54px 190px;
    align-items: center;
}

.logo-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 800;

    text-align: left;

}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navbar ul {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;


}

#home {
    border-radius: 46px;

    background: rgb(230, 83, 60);
    padding: 5px 20px;
}

.burger {
    display: none;
}

/* hero */
.hero {
    justify-content: center;
    align-items: center;
    margin: 0 7%;
}

.hero-img {
    height: 580px;
}


.hero-title {

    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    width: 50%;
}

span {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    Font-size: 4.6rem;


}

.hero-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 50%;
}

.content-all {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 60%;
    padding: 10px;
    margin-left: 170px;
    margin-top: -400px;

}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;



}

.other-content {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.content-all2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    margin-left: -70px;
    margin-top: 100px;
}

/* habits */
.habits-titles,
.tracking-titles,
.bmi-titles,
.team-title,
.membership-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

    text-align: center;
}

.habit-paragraph {
    margin-bottom: 2%;
}

.habit-paragraph,
.tracking-paragraph,
.bmi-paragraph,
.team-description,
.footer-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;


}

.habits-content {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.02rem;
    font-weight: 600;
    line-height: 120%;

    justify-content: center;
}

.habits-img img {
    border-radius: 50%;
    padding-bottom: 5%;
}

.habits-content {
    text-align: center;

}

.habits-dis {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 0 20%;
    padding-top: 2%;
}

.tracking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 7%;    
    justify-items: flex-end;   
    padding: 5%;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.tracking-titles,
.tracking-paragraph {
    text-align: left;
    width: 100%;
}


.tracking-img img {
    border-radius: 18px;
    width: 100%;
    
}

.bmi-calculator {
    text-align: center;
    margin: 0 30%;
    margin-bottom: 58px;

}

.bmi-title,
.bmi-paragraph {
    text-align: left;

}


/* bmi-table */
.bmi-table {
    background: rgb(34, 34, 34);
    justify-content: space-around;
    text-align: left;
    padding: 5%;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;


}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

    padding: 17px;

}

td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    padding: 17px;

}

input,
select {
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 40%;

}

#sex {
    width: 45%;
}

#factor {
    width: 90%;
}

/* team-imgs */
.team-imgs img {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    height: 272px;
    width: 90%;
}

.team {
    margin: 7%;
}

.team-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.name {

    margin-left: 20px;
    margin-top: -50px;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;

}

.position,
.lists {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* membership */
.membership {
    margin: 0 7%;
    background: radial-gradient(50.77% 36.77% at 85% 53%, rgba(108, 108, 108, 0.48), rgba(0, 0, 0, 0) 100%), radial-gradient(36.88% 36.72% at 31% 46%, rgba(108, 108, 108, 0.5), rgba(108, 108, 108, 0) 100%);

}

.membership .membership-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7%;

}

.paclist {
    border-radius: 50px;
    margin: 2% 38%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    background: rgb(217, 217, 217);
    margin-top: 2%;

}

.trainer1 {
    border-radius: 50px;
    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    background: #E6533C;
    padding: 20px 30px;

}

.trainer2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: black;

}

.package {
    border-radius: 50px;
    padding: 4%;

    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    background: rgba(61, 61, 61, 0.8);
    transition: transform 3s, background-color 2s ease-in .1s;
}

.package:hover {
    background-color: #E6533C;


    transform: rotateY(40deg);

    .class-btn {
        color: black;

        background-color: white;


    }


}


.package-titles {
    border-radius: 100px;
    text-align: center;
    background: rgb(0, 0, 0);
    margin: 0 30%;
    margin-bottom: 5%;

}

h6 {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}

/* footer */
.footer {
    background: rgba(255, 255, 255, 0.1);

}

.footer-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2% 7%;
}

.footer-titles {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-paragraph {
    text-align: left;
}

.footer-header {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}

hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 7%;
}

.footer-bottom {
    text-align: center;
    padding: 2% 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}


/* responsive */
@media screen and (max-width: 576px) {
    body {
        padding-left: 24px;
    }

    .navbar {
        margin: 54px 20px;
    }

    .burger {
        display: inline;

    }

    .nav-links {
        display: none;
    }

    .hero {
        display: inline;
    }

    .hero-title {
        font-size: 2.8rem;
        width: 70%;
    }

    .content-all2 {
        margin-left: 15px;
        margin-top: 100px;

    }

    .hero-title {
        font-size: 2rem;

    }

    .habits-content {
        flex-direction: column;
        gap: 20px;
    }

    .tracking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 20px;
        padding-left: 2rem;
    }

    .bmi-table {
        display: inline;
    }

    .team-imgs,
    .membership .membership-div,
    .footer-cont {
        display: grid;
        grid-template-columns: 1fr;

    }

    .paclist {
        margin: 3% 10%;
        zoom: 80%;
    }

    .membership {
        margin-bottom: 40%;
    }

    .footer-cont {
        margin: 2%;
    }


}