@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;


}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;



}

.text-left {
    text-align: left;

}


.font-italic {
    font-family: "Great Vibes", cursive;
}

.class-orange {
    color: #E6533C;
}

.color-black {
    background-color: #000000;
}

.color-bg1 {
    background-color: #E6533C;
}

.padding-botton {
    padding-bottom: 5%;
}

.class-btn {
    color: white;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 2.9rem;
    margin-top: 20px;
    padding: 20px;
    width: 12.5rem;


}

.class-flex {
    display: flex;

}

/* nav bar */
.container {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding-bottom: 20px;
}

.navbar {
    justify-content: space-between;
    margin: 54px 190px;
    align-items: center;
}

.logo-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navbar ul {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;


}

.burger {
    display: none;
}

/* hero */
.hero {
    justify-content: center;
    align-items: center;
}

.hero-img {
    height: 580px;
}


.hero-title {

    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 50%;
}

span {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    Font-size: 78px;
    Row-height: 1px;
    Letter-spacing: 0%;
}

.hero-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 50%;
}

.content-all {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 60%;
    padding: 10px;
    margin-left: 170px;
    margin-top: -400px;

}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;



}

.other-content {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.content-all2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    margin-left: -70px;
    margin-top: 100px;
}

/* habits */
.habits-titles,
.tracking-titles,
.bmi-titles,
.team-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.habit-paragraph,
.tracking-paragraph,
.bmi-paragraph,
.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;


}

.habits-content {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.02rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    justify-content: center;
}

.habits-img img {
    border-radius: 50%;
    padding-bottom: 5%;
}

.habits-content {
    text-align: center;

}

.habits-dis {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 0 20%;
    padding-top: 2%;
}

.tracking {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 7%;
    justify-content: space-between;
    padding: 3%;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.tracking-titles,
.tracking-paragraph {
    text-align: left;
    width: 90%;
}


.tracking-img img {
    border-radius: 18px;
    width: 90%;
}

.bmi-calculator {
    text-align: center;
    margin: 0 30%;
    margin-bottom: 58px;

}

.bmi-title,
.bmi-paragraph {
    text-align: left;

}


/* bmi-table */
.bmi-table {
    background: rgb(34, 34, 34);
    justify-content: space-around;
    text-align: left;
    padding: 5%;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;

}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 17px;

}

td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 17px;

}


input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 40%;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    padding: 10px;
    margin: 1%;


}

/* team-imgs */
.team-imgs img {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    height: 272px;
    width: 90%;
}

.team {
    margin: 7%;
}

.team-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.name {

    margin-left: 20px;
    margin-top: -50px;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;

}

.position {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.50);

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}





/* responsive */
@media screen and (max-width: 576px) {
    body {
        padding: 15px;
    }

    .navbar {
        margin: 54px 20px;
    }

    .burger {
        display: inline;

    }

    .nav-links {
        display: none;
    }

    .hero {
        display: inline;
    }

    .hero-title {
        font-size: 2.8rem;
        width: 70%;
    }

    .content-all2 {
        margin-left: 15px;
        margin-top: 100px;

    }

    .hero-title {
        font-size: 2rem;

    }

    .habits-content {
        flex-direction: column;
        gap: 20px;
    }

    .tracking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 20px;
        padding-left: 2rem;
    }


}